@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.32.4/react-bootstrap.min.js"></script>
    <script>
        var Alert = ReactBootstrap.Alert;
        var Button = ReactBootstrap.Button;
        var DropdownButton = ReactBootstrap.DropdownButton;
        var MenuItem = ReactBootstrap.MenuItem;
        var SplitButton = ReactBootstrap.SplitButton;
        var InputGroup = ReactBootstrap.InputGroup;
        var Dropdown = ReactBootstrap.Dropdown;
        var FormControl = ReactBootstrap.FormControl;
        var Item = ReactBootstrap.Item;
        var Divider = ReactBootstrap.Divider;
        var FormGroup = ReactBootstrap.FormGroup;
        var Form = ReactBootstrap.Form;
        var ControlLabel = ReactBootstrap.ControlLabel;
        var Col = ReactBootstrap.Col;
        var Checkbox = ReactBootstrap.Checkbox;
    </script>
    <script src="@Url.Content("~/Scripts/Main.jsx")"></script>
</body>
</html>